
<h1>Hello {{loggedInUser}}</h1>
<div>
<img src="images/ProfilePic.jpeg" alt="Profile-Pic">
</div>

<a href="/journey"><button>edit information</button></a>

<br>
<br>

<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>


