
<h1>Hello {{loggedInUser}}</h1>
<div>
<img src="images/ProfilePic.jpeg" alt="Profile-Pic">
</div>

<a href="/journey/add"><button>edit information</button></a>


{{#each allJourneysByUser}}
<p>{{destination}}</p>
<p>{{startDate}} - {{endDate}}</p>

{{/each}}