<h1>{{appTitle}} 🚀</h1>
<p>Welcome Traveller!</p>


<!-- Links einfügen um zum Login/Sign up zu kommen -->

<a href="./login">Log In</a>

<br>
<br>

<a href="./signup">No account? No problem! Sign up here</a>