.profileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    background-color: khaki;
  }

  
  h1 {
    color: 15px;

  }

  button, a {

    text-decoration: none;

  }