
<form action="/journey/info" method="post">
  <label> Destination:
    <input type="text" name="destination" />
  </label>
 
  <label> Start date:
    <input type="date" name="startDate" />
  </label>

  <label> End date:
    <input type="date" name="endDate" />
  </label>
 
  <button type="submit">> Create </button>
</form>